!!!
%html
	%head
		%title SomeOne's Blog
		%link{:type => "text/css",:href => "/mystyle.css", :rel => "stylesheet"}/
		

	%body
		.container
			.row
				.form_bg
					%form{:action => "/home", :method => "get"}
						.align-center
							%h2 Successful Registration
							%h3 Go To Login Page
							%br
							%br
							%br
							%button#login.btn.btn-default{:type => "submit"} Login Here
							
								
					
